*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mada', sans-serif;;
}

:root{
    @media (max-width: 577px) {
        font-size: 14px;
    }
}

body{
    background-color: #BBD1E4;
}

.body-container{
    padding-top: 8rem;
    background-color: #BBD1E4;
}

a{
    color: inherit;
    text-decoration: none;
}